@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&family=Mooli&family=Nosifer&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Water+Brush&display=swap");
/* font-family: 'Caveat', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Mooli', sans-serif; */
/* font-family: 'Nosifer', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Water Brush', cursive; */
.main {
  width: 100%;
  min-height: 100vh;
  /* padding: 10px; */

  background: radial-gradient(circle at 50% 50%, #b8cbec 0%, #d8deea 40%);
}

.contactContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stickImage {
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.atContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.businesNumbers {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.contactUs {
  font-family: "Outfit", sans-serif;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
.buisInfo {
  font-family: "Outfit", sans-serif;
}

.messageContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.someInfo {
  font-family: "Outfit", sans-serif;
}
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sendText {
  font-family: "Outfit", sans-serif;
}
.inputText {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-family: "Outfit", sans-serif;
  outline: none;
}
.sendBtn {
  padding: 10px;
  color: white;
  border: 1px solid rgb(173, 172, 172);
  background-color: #b8cbec;
}
.phone {
  font-size: 2rem;
  color: orange;
}
.email {
  font-size: 2rem;
  color: orange;
}

.textPhone {
  font-family: "Outfit", sans-serif;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .contactContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .messageContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 8rem;
  }
  .stickImage {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .atContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .businesNumbers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
  }
}
